<div>
    &nbsp;
    <nav>
        <ul class="pagination justify-content-center">
            {{#.}}
                <li class="page-item {{css}}"><a class="page-link" href="?page={{page}}">{{title}}</a></li>
            {{/.}}
        </ul>
    </nav>
</div>