{{#>layout}}
    {{#*inline "title"}}Nobody here but us chickens!{{/inline}}
    {{#*inline "body"}}
        <h1>Nobody here but us chickens</h1>
        <p>You've tried to load a page that just doesn't exist. Sorry about that.</p>
    {{/inline}}
{{/layout}}