{{#>layout}}
    {{#*inline "title"}}I Don't Know What Just Happened{{/inline}}
    {{#*inline "body"}}
        <h1>I Don't Know What Just Happened</h1>
        <p>Something happened that prevented me from servicing your request properly. Please try your request again.</p>
        <p>If your request keeps failing maybe you found a bug in this service, in that case please consider <a href="https://github.com/AccaliaDeElementia/avatar-rotations/issues">filing a bug report</a>.</p>
    {{/inline}}
{{/layout}}