{{#>layout}}
    {{#*inline "title"}}Error!{{/inline}}
    {{#*inline "body"}}
        <h1>{{message}}</h1>
        <h2>Status: {{statusCode}}</h2>
        <pre>{{stack}}</pre>
    {{/inline}}
{{/layout}}