<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <title>{{ directory.name }} - Avatar List</title>
    <style>
        .preview {
            text-align: center;
            padding-bottom: 0.5rem;
        }

        .preview-image {
            margin: 0.25rem;
        }

        .preview img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        div.btn-group button.btn.dropdown-toggle {
            margin-left: -8px;
        }
    </style>
</head>

<body style="padding-top: 4rem;">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">{{ directory.name }} - Avatar List</a>
    <span class="mr-auto"></span>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Set Avatar Size" aria-label="Set Avatar Size"
               name="size" value="{{size}}px"/>
        <button class="btn btn-outline-default my-2 my-sm-0 btn-update-sizes">Update Sizes</button>
    </form>
</nav>

<main role="main" class="container">
    <div>
        <h1>{{ directory.name }} - Avatar List</h1>
    </div>
    <div>
        <h2>Dynamic Avatars</h2>
        {{>avatarPreviewBlock directory.links}}

    </div>
    {{>pagination pagination}}
    <div>
        <h2>Static Avatars</h2>
        {{>avatarPreviewBlock images}}
    </div>
    {{>pagination pagination}}
</main>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script>
    'use strict'
    /*global $ */
    $(function () {
        function updateLinks () {
            var host = window.location.protocol + '//' + window.location.host
            var size = parseInt($('input[name=size]').val(), 10) || ''
            $('div.preview').each(function () {
                var preview = $(this)
                var prefix = preview.data('prefix')
                var suffix = preview.data('suffix')
                var link = host + prefix + (size ? '/size-' + size : '') + '/' + suffix
                var originalLink = host + prefix + '/' + suffix
                preview.find('a.previewLink').attr('href', link)
                preview.find('.preview-image').css('width', size).css('height', size)
                preview.find('input').val(link)
                preview.data('link', link)
                preview.data('originalLink', originalLink)
                preview.css('min-width', size + 38)
            })
            window.history.replaceState({}, $('title').text(), window.location.href.replace(/size-\d+/, 'size-' + size))
            return false
        }

        $('.btn-update-sizes').click(updateLinks)
        $('input[name=size]').change(updateLinks).blur(updateLinks)
        updateLinks()

        function copyTextToClipboard (text) {
            var textArea = document.createElement('textarea')
            textArea.style.position = 'fixed'
            textArea.style.top = 0
            textArea.style.left = -5000
            textArea.value = text
            document.body.appendChild(textArea)
            textArea.select()
            try {
                if (document.execCommand('copy')) {} else {}
            }
            catch (err) {}
            document.body.removeChild(textArea)
        }

        $('.action-copy-link').click(function () {
            copyTextToClipboard($(this).closest('.preview').data('link'))
        })
        $('.action-copy-original-link').click(function () {
            copyTextToClipboard($(this).closest('.preview').data('originalLink'))
        })
        $('.action-copy-markdown').click(function () {
            var preview = $(this).closest('.preview')
            copyTextToClipboard('![' + preview.data('name') + '](' + preview.data('link') + ')')
        })
        $('.action-copy-markdown-link').click(function () {
            var preview = $(this).closest('.preview')
            copyTextToClipboard('[![' + preview.data('name') + '](' + preview.data('link') + ')](' + preview.data('originalLink') + ')')
        })
        $('.action-copy-bbcode').click(function () {
            var preview = $(this).closest('.preview')
            copyTextToClipboard('[img]' + preview.data('link') + '[/img]')
        })
        $('.action-copy-bbcode-link').click(function () {
            var preview = $(this).closest('.preview')
            copyTextToClipboard('[url="' + preview.data('originalLink') + '"][img]' + preview.data('link') + '[/img][/url]')
        })
        $('.action-copy-html').click(function () {
            var preview = $(this).closest('.preview')
            copyTextToClipboard('<img src="' + preview.data('link') + '" />')
        })
        $('.action-copy-html-link').click(function () {
            var preview = $(this).closest('.preview')
            copyTextToClipboard('<a href="' + preview.data('originalLink') + '"><img src="' + preview.data('link') + '" /></a>')
        })
        $('.action-view').click(function () {
            window.location = '' + $(this).closest('.preview').data('link')
        })
        $('.action-view-original').click(function () {
            window.location = '' + $(this).closest('.preview').data('originalLink')
        })
    })
</script>
</body>

</html>
